{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
{% if messages %}
	{% for message in messages %}
  <div class="alert alert-danger col-12" role="alert">
    {{ message.message }}
  </div>
	{% endfor %}
{% endif %}
  <div class="col-12">
    <table class="d-none d-md-block table table-hover">
        <thead>
          <tr>
            <th scope="col">이름</th>
            <th scope="col">모양</th>
            <th scope="col">출몰기간</th>
            <th scope="col">출몰시간</th>
            <th scope="col">출몰장소</th>
            <th scope="col">크기</th>
            <th scope="col">가격</th>
            {% if request.user.is_authenticated %}
            <th scope="col">잡았다!</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for dt in fishes %}
          <tr>
            <th scope="row">{{ dt.name }}</th>
            <td><img src="{% static 'fish/' %}{{ dt.id }}.png" widrh='40' height='40'></td>
            <td>{{ dt.date }}</td>
            <td>{{ dt.time }}</td>
            <td>{{ dt.where }}</td>
            <td>{{ dt.size }}</td>
            <td>{{ dt.bell }}</td>
            {% if request.user.is_authenticated %}
            {% if request.user in dt.catch_user.all %}
            <th scope="col"><img data-id="{{ dt.pk }}" class="catch-button" style="cursor: pointer;" src="https://img.icons8.com/ios-filled/20/000000/koi-fish.png"/></th>
            {% else %}
            <th scope="col"><img data-id="{{ dt.pk }}" class="catch-button" style="cursor: pointer;" src="https://img.icons8.com/ios/20/000000/koi-fish.png"/></th>
            {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <div class="d-block d-md-none">
      <div class="row">
      {% for dt in fishes %}
      <div class="col-2 bg-white">{{ dt.name }}</div>
      <div class="col-2"><img src="{% static 'fish/' %}{{ dt.id }}.png" height='50'></div>
      <div class="col-8">
        <div class="row">
          {% if request.user.is_authenticated %}
          <div class="col-4">출몰기간<br>{{ dt.date }}</div>
          <div class="col-4">출몰시간<br>{{ dt.time }}</div>
            {% if request.user in dt.catch_user.all %}
            <div scope="col-4">잡았나?<br><img data-id="{{ dt.pk }}" class="catch-button" style="cursor: pointer;" src="https://img.icons8.com/ios-filled/20/000000/koi-fish.png"/></div>
            {% else %}
            <div scope="col-4">잡았나?<br><img data-id="{{ dt.pk }}" class="catch-button" style="cursor: pointer;" src="https://img.icons8.com/ios/20/000000/koi-fish.png"/></div>
            {% endif %}
          {% else %}
          <div class="col-6">출몰기간<br>{{ dt.date }}</div>
          <div class="col-6">출몰시간<br>{{ dt.time }}</div>
          {% endif %}
          <div class="col-4">장소<br>{{ dt.where }}</div>
          <div class="col-4">크기<br>{{ dt.size }}</div>
          <div class="col-4">가격<br>{{ dt.bell }}</div>
        </div>
      </div>
      <hr class="col-12 bg-white">
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block JS %}
<script>
  const catchButtons = document.querySelectorAll('.catch-button')
  catchButtons.forEach(function(catchButton){
    catchButton.addEventListener('click',function(event){
      const fishId = event.target.dataset.id
      // 이 부분 수정
      axios.get(`http://127.0.0.1:8000/wiki_like/arr/fishes/${fishId}/`)
      .then(response => {
        if (response.data.logined) {
          if (response.data.catch) {
            event.target.src = 'https://img.icons8.com/ios-filled/20/000000/koi-fish.png'
          } else { event.target.src = 'https://img.icons8.com/ios/20/000000/koi-fish.png' }
        } else { alert('로그인을 해주세요') }
      })
      .catch(err => console.log(err))
    })
  })
</script>
{% endblock %}