{% extends 'base.html' %}

{% block content %}
<div class="row">
{% if messages %}
	{% for message in messages %}
  <div class="alert alert-danger col-12" role="alert">
    {{ message.message }}
  </div>
	{% endfor %}
{% endif %}
<a href="/wiki_like/my_design/affect/" class="col-lg-2 col-md-3 col-6"><button class='btn btn-info col-12'>디자인<br>자랑하기</button></a>
<div class="col-9"></div>
<hr class="d-none d-md-block col-12">
<nav class='col-12'>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="nav-home" aria-selected="true">전체</a>
    <a class="nav-item nav-link" id="nav-toptop-tab" data-toggle="tab" href="#toptop" role="tab" aria-controls="nav-profile" aria-selected="false">상의</a>
    <a class="nav-item nav-link" id="nav-onepiece-tab" data-toggle="tab" href="#onepiece" role="tab" aria-controls="nav-contact" aria-selected="false">원피스</a>
    <a class="nav-item nav-link" id="nav-cat-tab" data-toggle="tab" href="#hat" role="tab" aria-controls="nav-contact" aria-selected="false">모자</a>
    <a class="nav-item nav-link" id="nav-no_cat-tab" data-toggle="tab" href="#no_cat" role="tab" aria-controls="nav-contact" aria-selected="false">분류안함</a>
  </div>
</nav>

<div class="tab-content col-12" id="nav-tabContent">
  <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="nav-all-tab">
    {% for design in pic %}
    <div class="row">
      <div class="d-none d-md-block col-3 bg-success text-light">
        {{ design.title }}<br>
        {{ design.category }}<br>
        {{ design.created_at }}<br>
        <a href='{% url "accounts:profile" design.user.nickname %}' class='text-decoration-none text-light'>{{ design.user.nickname }}</a>
        <br>
          {% if request.user in design.like_users.all %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-rounded/100/000000/thumb-up.png"/>
          {% else %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-outlined/100/000000/thumb-up.png"/>
          {% endif %}
      </div>
      <div class="d-none d-md-block col-9">
        <img src="{{ design.design_img.url }}" class="img-responsive" width="100%" height='400'>
      </div>
    </div>
    <hr class="d-none d-md-block col-12">
    <div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="toptop" role="tabpanel" aria-labelledby="nav-toptop-tab">
    {% for design in top %}
    <div class="row">
      <div class="d-none d-md-block col-3 bg-success text-light">
        {{ design.title }}<br>
        {{ design.category }}<br>
        {{ design.created_at }}<br>
        <a href='{% url "accounts:profile" design.user.nickname %}' class='text-decoration-none text-light'>{{ design.user.nickname }}</a>
        <br>
          {% if request.user in design.like_users.all %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-rounded/100/000000/thumb-up.png"/>
          {% else %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-outlined/100/000000/thumb-up.png"/>
          {% endif %}
      </div>
      <div class="d-none d-md-block col-9">
        <img src="{{ design.design_img.url }}" class="img-responsive" width="100%" height='400'>
      </div>
    </div>
    <hr class="d-none d-md-block col-12">
    <div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="onepiece" role="tabpanel" aria-labelledby="nav-onepiece-tab">
    {% for design in onepiece %}
    <div class="row">
      <div class="d-none d-md-block col-3 bg-success text-light">
        {{ design.title }}<br>
        {{ design.category }}<br>
        {{ design.created_at }}<br>
        <a href='{% url "accounts:profile" design.user.nickname %}' class='text-decoration-none text-light'>{{ design.user.nickname }}</a>
        <br>
          {% if request.user in design.like_users.all %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-rounded/100/000000/thumb-up.png"/>
          {% else %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-outlined/100/000000/thumb-up.png"/>
          {% endif %}
      </div>
      <div class="d-none d-md-block col-9">
        <img src="{{ design.design_img.url }}" class="img-responsive" width="100%" height='400'>
      </div>
    </div>
    <hr class="d-none d-md-block col-12">
    <div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="hat" role="tabpanel" aria-labelledby="nav-hat-tab">
    {% for design in hat %}
    <div class="row">
      <div class="d-none d-md-block col-3 bg-success text-light">
        {{ design.title }}<br>
        {{ design.category }}<br>
        {{ design.created_at }}<br>
        <a href='{% url "accounts:profile" design.user.nickname %}' class='text-decoration-none text-light'>{{ design.user.nickname }}</a>
        <br>
          {% if request.user in design.like_users.all %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-rounded/100/000000/thumb-up.png"/>
          {% else %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-outlined/100/000000/thumb-up.png"/>
          {% endif %}
      </div>
      <div class="d-none d-md-block col-9">
        <img src="{{ design.design_img.url }}" class="img-responsive" width="100%" height='400'>
      </div>
    </div>
    <hr class="d-none d-md-block col-12">
    <div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="no_cat" role="tabpanel" aria-labelledby="nav-no_cat-tab">
    {% for design in no_cat %}
    <div class="row">
      <div class="d-none d-md-block col-3 bg-success text-light">
        {{ design.title }}<br>
        {{ design.category }}<br>
        {{ design.created_at }}<br>
        <a href='{% url "accounts:profile" design.user.nickname %}' class='text-decoration-none text-light'>{{ design.user.nickname }}</a>
        <br>
          {% if request.user in design.like_users.all %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-rounded/100/000000/thumb-up.png"/>
          {% else %}
          <img data-id="{{ design.pk }}" class="like-button" style="cursor: pointer;" src="https://img.icons8.com/material-outlined/100/000000/thumb-up.png"/>
          {% endif %}
      </div>
      <div class="d-none d-md-block col-9">
        <img src="{{ design.design_img.url }}" class="img-responsive" width="100%" height='400'>
      </div>
    </div>
    <hr class="d-none d-md-block col-12">
    <div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
    {% endfor %}
  </div>

</div>
</div>
{% endblock %}
{% block JS %}
<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(function(likeButton){
    likeButton.addEventListener('click',function(event){
      const designId = event.target.dataset.id
      // 여기 수정!
      axios.get(`http://127.0.0.1:8000/wiki_like/my_design/${designId}/`).then(response => {
        if (response.data.logined) {
          if (response.data.like) {
            event.target.src = 'https://img.icons8.com/material-rounded/100/000000/thumb-up.png'
          } else { event.target.src = 'https://img.icons8.com/material-outlined/100/000000/thumb-up.png' }
        } else { alert('로그인을 해주세요') }
      }).catch(err => console.log(err))
    })
  })
</script>
{% endblock %}