{% extends 'base.html' %}

{% block content %}
<div class="row">
<a href="/wiki_like/my_design/affect/" class="col-3"><button>디자인<br>자랑하기</button></a>
<hr class="d-none d-md-block col-12">
{% for design in pic %} 
<div class="d-none d-md-block col-3 bg-success text-light">
  {{ design.title }}<br>
  {{ design.category }}<br>
  {{ design.created_at }}
</div>
<div class="d-none d-md-block col-9">
    <img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;">
</div>
<hr class="d-none d-md-block col-12">
{% endfor %}
{% for design in pic %}
<div class="d-block d-md-none col-12"><img src="{{ design.design_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"></div>
<hr class="d-block d-md-none col-12">
{% endfor %}
</div> 
{% endblock %}