{% extends 'base.html' %}

{% block content %}
<div class="row">
  <hr class="col-12">
  <div class="col-3 border rounded bg-dark text-light text-center">마일리지명과 설명</div>
  <div class="col-9 border rounded bg-success text-light text-center">세부설명과 보상</div>
  <div class="col-3 border rounded bg-danger text-white text-center">
    <b>(섬 이름)섬 마일!</b><br><p>Nook Inc.의 무인도 이주 패키지 플랜을 신청해줘서 고마워구리! <br>이번 이주를 위해 이용한 비행편의 마일리지를 지급할게구리!</p>
  </div>
  <div class="col-9 border rounded bg-danger text-white text-center">
    <div class="row">
    <div class="col-12 text-white text-center">
      <a>시작과 함께 달성하는 과제</a>
    </div>
    <hr class="col-12 bg-white border rounded">
    <div class="col-12 col-md-3 text-white text-center">
      <ol><b>달성량</b>
        <li>없엉</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-6 text-white text-center">
      <ol><b>받는 칭호</b>
        <li>`Nook Inc.의` / `손님`</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-3 text-white text-center">
        <ol><b>보상량</b>
          <li>500</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-3 border rounded bg-dark text-white text-center">
    <br><b>낚시의 달인이 되자</b><br><br><br><p>평소에 낚시 실력을 갈고닦으면 무인도 생활에 큰 도움이 될 거야구리!<br>Nook Inc.는 낚시의 달인을 꿈꾸는 모든 분들을 진심으로 응원해구리!</p>
  </div>
  <div class="col-9 border rounded bg-dark text-white text-center">
    <div class="row">
    <div class="col-12 text-white text-center">
      <a>낚시 성공 횟수에 따라 모임</a>
    </div>
    <hr class="col-12 bg-white border rounded">
    <div class="col-12 col-md-3 text-white text-center">
      <ol><b>달성량</b>
        <li>10</li>
        <li>100</li>
        <li>500</li>
        <li>2000</li>
        <li>5000</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-6 text-white text-center">
      <ol><b>받는 칭호</b>
        <li>`갓 졸업한` / `강태공`</li>
        <li>`일등` / `낚시꾼`</li>
        <li>정보가 없습니다ㅠㅜ</li>
        <li>정보가 없습니다ㅠㅜ</li>
        <li>정보가 없습니다ㅠㅜ</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-3 text-white text-center">
        <ol><b>보상량</b>
          <li>300</li>
          <li>500</li>
          <li>1000</li>
          <li>2000</li>
          <li>정보가 없습니다</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-3 border rounded bg-primary text-white text-center">
    <b><br>물고기 박사가 되어보자</b><br><br><p>물 도감의 물고기 페이지를 다 채워서 물고기 도감을 완성해줬으면 해구리!<br>물고기 도감을 얼마나 채웠느냐에 따라 마일을 선물할게구리!</p>
  </div>
  <div class="col-9 border rounded bg-primary text-white text-center">
    <div class="row">
    <div class="col-12 text-white text-center">
      <a>물고기 도감을 채운 개수에 따라 획득</a>
    </div>
    <hr class="col-12 bg-white border rounded">
    <div class="col-12 col-md-3 text-white text-center">
      <ol><b>달성량</b>
        <li>10</li>
        <li>20</li>
        <li>40</li>
        <li>60</li>
        <li>80</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-6 text-white text-center">
      <ol><b>받는 칭호</b>
        <li>`잔챙이` / `물고기 팬`</li>
        <li>`파닥파닥` / `바닷사람`</li>
        <li>정보가 없습니다ㅠㅜ</li>
        <li>정보가 없습니다ㅠㅜ</li>
        <li>정보가 없습니다ㅠㅜ</li>
      </ol>
    </div>
    <hr class="d-block d-md-none bg-light col-12">
    <div class="col-12 col-md-3 text-white text-center">
        <ol><b>보상량</b>
          <li>300</li>
          <li>500</li>
          <li>1000</li>
          <li>2000</li>
          <li>정보가없습니다</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}