{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <title>동숲위키를 꿈꾸나</title>
</head>
<body>
  <nav class="navco navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="{% url 'pages:home' %}"><img src='{% static "logo.png" %}' height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'pages:nook' %}">마일리지<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            도감
          </a>
          <div class="dropdown-menu navco" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'pages:all_bug' %}">벌레 도감</a>
            <a class="dropdown-item text-light" href="{% url 'pages:all_fish' %}">생선 도감</a>
            <a class="dropdown-item text-light" href="{% url 'pages:all_artwork' %}">미술품 도감</a>
            <a class="dropdown-item text-light" href="{% url 'pages:all_fossils' %}">화석 도감</a>
            <a class="dropdown-item text-light" href="{% url 'pages:all_songs' %}">노래 도감</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'pages:vil_ran' %}">주민</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            커뮤니티
          </a>
          <div class="dropdown-menu navco" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'pages:my_design' %}">마이 디자인</a>
            <a class="dropdown-item text-light" href="{% url 'community:rescue' %}">무 구조대</a>
            <a class="dropdown-item text-light" href="{% url 'community:dealer' %}">장터 구경</a>
          </div>
        </li>
      </ul>
      <div>
        {% if request.user.is_authenticated %}
        <a class='text-decoration-none text-light' href='{% url "accounts:my_profile" request.user.id%}'>내 프로필</a>
        <br class="d-block d-lg-none">
        <a class='text-decoration-none text-light' href='{% url "accounts:logout" %}'>로그아웃하기</a>
        {% else %}
        <a class='text-decoration-none text-light' href='{% url "accounts:signup" %}'>회원가입하기</a>
        <br class="d-block d-lg-none">
        <a class='text-decoration-none text-light' href='{% url "accounts:login" %}'>로그인하기</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block JS %}
    {% endblock %}
</body>
</html>